{% extends "layout.html" %}

{% block content %}
  <main class="about-section">
    <div class="container">

    <h2>About Blood Donation</h2>
    <p>BloodCare was made to combat against blood shortages by connecting users with blood banks more directly. BloodCare maintains a local and national inventory of blood in blood banks and hospitals, and lets users know if their blood type matches shortages in their area.</p>

<p>During natural and manmade disasters there is often an influx of donations from philanthropic donors across the world. Unfortunately a large portion of those donations are discarded as blood has a very short shelf-life, Whole blood is only kept for 42 days and platelets must be discarded after 5 days. After September 11th, 600,000 units of blood were collected, but at least 200,000 units were discarded. Other disasters have had more pronounced waste with the 2003 earthquake in Bam, Iran only using 1/5th of the total blood donated in response to the disaster.</p>

<p>Excess blood creates potential shortages in the future as many repeat donors need to wait before they can donate again. Discarding the blood is also problematic, wasting the resources to test it and to properly disposal of the medical waste from collecting the blood. Blood Care solves this problem by recommending donors to check their area supply before making a donation, saving donors' time, saving  blood banks' resources, and saving more  lives by keeping our hospitals from experiencing blood shortages. </p>

<p>By using BloodCare you are committing yourself to protecting the blood banks. You will only be contacted when your blood is in demand and likely to be used. 
</p>

    <div class="section-content">
        <h2></h2>
        <h2></h2>
       </div>
    <div class="aboutimage">
    <img src="static/img/blood.png">
   <!-- </div> -->

    </div>
  </main>
{% endblock %}