{% extends "layout.html" %}

{% block content %}
  <main class="about-section">
    <div class="container">
    <br>
    <br>
    <form action="/hospitalsearch" method="get">
    <h1>You are eligible to make a donation!</h1>
    <h3>Donating blood can save up to three lives! We want to help make your donations more effective and help save as many lives as possible.</h3>
    <p>You can check below if your area needs you.</p>

    <dt> <br> <input type=submit id="search" value="Check">

    </div>
  </main>
{% endblock %}