{% extends "layout.html" %}

{% block content %}
  <main class="hero-section">
    <div class="container">
      



<script   src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>

 <script type="text/javascript" src="script.js"></script>
     <h2> Hi {{ session['user_name'] }}, please insert your information here.
     </h2> 
         <div id="user_form" class="wrapper">
           <h2>User information</h2>
             <form action="/home2" method="get">
               <dl>
     
                 <dt> <br> What is your blood type?
                 <dt>
                   <form2 name="bloodType" id="bloodType">
                   <input type="radio" name="bloodType" value="O+" checked>O+</input>
                   <input type="radio" name="bloodType" value="O-">O-</input>
                   <input type="radio" name="bloodType" value="A+">A+</input>
                   <input type="radio" name="bloodType" value="A-">A-</input>
                   <input type="radio" name="bloodType" value="B+">B+</input>
                   <input type="radio" name="bloodType" value="B-">B-</input>
                   <input type="radio" name="bloodType" value="AB+">AB+</input>
                   <input type="radio" name="bloodType" value="AB-">AB-</input>
                 </form2>


                 <dt> <br> <input type=submit id="search" value=Submit>
               </dl>
               <dt>
             </form>

           </div>




    </div>
  </main>
{% endblock %}